img {
	max-width: 100%;
	border-radius: 5px;
}

#reviewRating {
	padding-bottom: 15px;
}

h1 {
	font-size: 4em;
}

#review {
	background-color: #E9EAEE;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.well {
	opacity: .8;
}

.well p {
	font-size: 1.25em;
}

.well button {
	margin-bottom: 10px; 
}

#thumbs {
	float: right;
	font-size: 20px;
}

.thumbup {
	margin-right: 10px;
}

@media (min-width: 768px) {
	#info {
		margin-top: 80px;
	}
}